@import "./variables.scss";
.container {
  height: calc(100vh - #{$headerHeight});
  background: $bg;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  h1 {
    padding: 1.5rem 2.5rem;
    background: linear-gradient(220deg, $primary, rgba($primary, 0.5));
    border-radius: $borderRadius calc(#{$borderRadius} * 10);
  }
  button {
    cursor: pointer;
    outline: none;
    padding: 0.09rem 1.25rem;
    border-radius: $borderRadius;
    font-size: 1rem;
    font-family: inherit;
    background: rgb(2, 2, 17);
    color: rgb(56, 118, 251);
    border: 1px solid transparent;
    transition: 0.3s ease all;

    &:hover {
      border-color: rgba($primary, 0.25473568);
      background: white;
      color: $primary;
    }
    &:active {
      border-color: $primary;
      background: linear-gradient(rgba($primary, 0.2), rgba($primary, 0.3));
      color: $primary;
    }
  }
}
